/* Your Website Styles */


/* Show Grid */
*{
    margin-right: 5px;
    margin-left:  5px;
    margin-top:  10px;
    margin-bottom: 10px;
    
}

span{
	text-align: center;
}

.global-nav {
    position: fixed;
    text-align: center;
    top:0;
    left: 400px;
    z-index: 10;
    width: 50%;
    background: aqua;
    line-height: 5px;
    white-space: nowrap;
    min-width: 30px;
}

.container {
    background: aqua;
    position: relative;
/*    min-height: 210px;*/
    border-radius: 10px;
    
/*    left: 50%;
    margin-left: -444px;*/
    margin-top: 100px;
    box-shadow: 0px 0px 50px 10px rgba(68, 68, 68, .8);
}

body {
	font-family: "Times New Roman," Georgia, serif;
	background-color: teal;
	line-height: 1.5em;
	margin-bottom: 1.5em;
}

p{
	font-family: "Times New Roman," Georgia, serif;
	font-size: 18px;
}

img {
    float: left;
    padding-left: 10px;
}
ul
{
list-style: none;
} 

div
{


}

h1 {
color: #014421;
}

h2 {
color: #014421;
}

p {
color: #00000;
}