/* Your Website Styles */


/* Show Grid */
*{
    margin-right: 5px;
    margin-left:  5px;
    margin-top:  10px;
    margin-bottom: 10px;
    
}

html {
       background: #802A00; /* Brown */
font-family: 'Noto Serif', serif;
line-height: 1.5em;
margin-bottom: 1em;
text-decoration: none;
}



h1 {
color: #000000;
font-family: 'Noto Serif', serif;
    font-size: 30px;
}

h2{
font-family: 'Noto Serif', serif;
font-size: 28px;
}

h3{
font-family: 'Noto Serif', serif;
font-size: 26px;
}

p{
    font-family: Verdana, sans-serif;
    font-size: 16px;
}

span{
	text-align: center;
}

.global-nav {
    position: fixed;
    text-align: center;
    top:0;
    left: 400px;
    z-index: 10;
    width: 50%;
    background: #802A00; /* Brown */
    line-height: 5px;
    white-space: nowrap;
    min-width: 30px;
}

.container {
    background: #BFFFFE; /* Brown */
    position: relative;
/*    min-height: 210px;*/
    border-radius: 10px;
    
/*    left: 50%;
    margin-left: -444px;*/
    margin-top: 100px;

}




img {
    float: left;
    padding-left: 10px;
}
ul
{
list-style: none;
} 



